.about {
  position: relative;
  overflow: hidden;
}
.about__body {
  position: relative;
  z-index: 2;
  padding: 9.375rem 0 21.625rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__content {
  max-width: 41.25rem;
  .tl3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .txt2 {
    text-align: center;
  }
}

.about__bg {
  position: absolute;
  z-index: 1;
  bottom: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 960px) {
  .about__body {
    padding: 2.25rem 0 18.3125rem 0;
  }
  .about__content {
    max-width: 35rem;
  }

  .about__bg {
    & > div {
      top: 0;
    }
  }
}
