.qualities {
  padding-top: 7.1875rem;
}
.qualities__body {
  .splide__track {
    overflow: visible;
  }
  .splide__list {
    gap: 0 1.5rem;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}
.card-qualit {
  width: 100%;
  max-width: calc((100% - 3 * 1.5rem) / 4);
}
.card-qualit__img {
  overflow: hidden;
  border-radius: 1.5rem 1.5rem 0 0;
  height: 11.375rem;
}
.card-qualit__box {
  padding: 1.9375rem 1.1875rem;
  border-radius: 0 0 1.5rem 1.5rem;
  background-color: var(--cb);
  .tl5 {
    margin-bottom: 0.75rem;
  }
}

.qualities__head {
  max-width: 38rem;
  gap: 1rem;
  padding-bottom: 7.6rem;
  display: flex;
  flex-direction: column;
  position: relative;

  h2 {
    font-size: 3.5rem;
  }

  img {
    top: -2.7rem;
    right: -18rem;
    width: 15.875rem;
    transform: translateX(100%);
    position: absolute;
  }
}

@media screen and (max-width: 960px) {
  .qualities {
    padding-top: 3rem;
  }
  .qualities__body {
    .splide__list {
      gap: 0;
    }
    .splide__slide {
      max-width: calc(45% - 0.5rem);
    }
  }
  .card-qualit {
    max-width: 100%;
  }
  .card-qualit__img {
    border-radius: 0.75rem 0.75rem 0 0;
    padding-top: 54.22%;
  }
  .card-qualit__box {
    padding: 0.9375rem;
    border-radius: 0 0 0.75rem 0.75rem;
    .tl5 {
      margin-bottom: 0.5rem;
    }
  }
  .qualities__head {
    padding-top: 15rem;
    max-width: inherit;
    text-align: center;
    padding-bottom: 3rem;
    align-items: center;
    align-content: center;
    h2 {
      font-size: 2rem;
    }
    img {
      top: 3.25rem;
      left: 50%;
      width: 7.8rem;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 768px) {
  .qualities__body {
    .splide__slide {
      max-width: 92.2222%;
    }
  }
}
