<section class="about">
  <div class="about__container">
    <div class="about__body">
      <div class="about__content">
        <h1 class="tl3">About Our Company</h1>
        <div class="txt2 tch">
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>

  <img src="./img/decor/aboutbg.jpg" class="about__bg" alt="" />
</section>
