<section class="mission">
  <div class="mission__container">
    <ul class="mission__cards">
      <li class="card-miss brgrad">
        <div class="card-miss__box">
          <h2 class="card-miss__tl">About us</h2>
          <div class="txt3 tch">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
          </div>
        </div>

        <div class="card-miss__ico">
          <img src="./img/content/miss_1.png" alt="" />
        </div>
      </li>

      <li class="card-miss brgrad">
        <div class="card-miss__box">
          <h2 class="card-miss__tl">Vision</h2>
          <div class="txt3 tch">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
          </div>
        </div>

        <div class="card-miss__ico">
          <img src="./img/content/miss_2.png" alt="" />
        </div>
      </li>

      <li class="card-miss brgrad">
        <div class="card-miss__box">
          <h2 class="card-miss__tl">Mission</h2>
          <div class="txt3 tch">
            <p>
              Our crypto wallet offers crypto purchases via bank cards, APM
              integrations, secure client fund storage, crypto
              exchange, alternative payment methods, wire transfers, deposits
              and withdrawals, and access to 300+ tokens.
            </p>
          </div>
        </div>

        <div class="card-miss__ico">
          <img src="./img/content/miss_3.png" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
