.header__body {
  .navmenu {
    flex: 0 1 auto;
  }
  .navmenu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem 3rem;

    & > li,
    & > .menu-item {
      a {
        display: block;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.02em;
        transition: all 0.15s ease-in;
        &:hover {
          color: var(--ch);
        }
      }

      &.current-menu-item {
        & > a {
          color: var(--ch);
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header__body {
    .navmenu {
      display: none;
    }
  }

  .mobmenu {
    .navmenu {
    }
    .navmenu__list {
    }
  }
}
