<nav class="navmenu">
  <ul class="navmenu__list anchor-links">
    <li class="menu-item"><a href="#answers">About</a></li>
    <li class="menu-item menu-item-has-children">
      <a href="#">Solutions</a>
      <ul class="sub-menu">
        <li>
          <a href="#">Wallet</a>
        </li>
        <li>
          <a href="#">Finance Solutions</a>
        </li>
        <li>
          <a href="#">OTC Desk</a>
        </li>
      </ul>
    </li>
    <li class="menu-item"><a href="#answers">Support</a></li>
  </ul>
</nav>
