<section class="partners pdt1 tabs">
  <div class="partners__container">
    <div id="form" class="partners__headnig">
      <h2 class="tl3">Got Other Questions?</h2>
      <div class="txt3 tch">
        <p>
          Got Questions? We've Got Answers
        </p>
      </div>
    </div>
    <div class="partners__body">
      <div class="partners__form">
        <div class="partners__switch">
          <ul> 
            <li>
              <button
                type="button"
                class="tabs__btn isActive"
                data-tab="form-corporate"
              >
                Corporate
              </button>
            </li>
            <li>
              <button type="button" class="tabs__btn" data-tab="form-individual">
                Individual
              </button>
            </li>
          </ul>
        </div>
        
        <form
          class="form submitForm tabs__cont isActive isAnim"
          id="form-corporate"
        >
          <div class="form__box">
            <label class="label__def">
              <p>Full Name</p>
              <span>
                <input
                  type="text"
                  name="fullname"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>E-mail adress</p>
              <span>
                <input
                  type="email"
                  name="email"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>Discribe the topic</p>
              <span>
                <textarea
                  name="mess"
                  rows="3"
                  placeholder="Type here"
                ></textarea>
              </span>
            </label>
          </div>

          <div class="form__bottom">
            <button type="submit" class="btn-def bg-bl">
              <span>Send question</span>
            </button>
            <div class="form__desc">
              <p>
                By submitting the form, you consent to receive updates, offers, and important info per our
                <a href="./policy.html">Privacy Policy</a>
              </p>
            </div>
          </div>
        </form>

        <form class="form submitForm tabs__cont" id="form-individual">
          <div class="form__box">
            <label class="label__def">
              <p>NameNameName</p>
              <span>
                <input
                  type="text"
                  name="fullname"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>E-mail adress</p>
              <span>
                <input
                  type="email"
                  name="email"
                  placeholder="Type here"
                  data-required="true"
                />
              </span>
            </label>
            <label class="label__def">
              <p>Discribe the topic</p>
              <span>
                <textarea
                  name="mess"
                  rows="3"
                  placeholder="Type here"
                ></textarea>
              </span>
            </label>
          </div>

          <div class="form__bottom">
            <button type="submit" class="btn-def bg-bl">
              <span>submit</span>
            </button>
            <div class="form__desc">
              <p>
                By submitting the form, you consent to receive updates, offers,
                and important info per our
                <a href="./policy.html">Privacy Policy</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <img src="./img/decor/formbg.jpg" alt="" class="formbg">
  <img src="./img/decor/bgformm.jpg" alt="" class="bgformm">
</section>
