<section class="qualities">
  <div class="qualities__container">
    <div class="qualities__head">
      <h2 class="tl2">Helpful Documentation And Certifications</h2>
      <div class="txt2 tch">
        <p>
          Here you can find all the necessary certificates, official documents.
          They confirm our quality and reliability and provide you with
          important information.
        </p>
      </div>
      <img src="./img/decor/doc.png" alt="" />
    </div>
    <div class="qualities__body">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide card-qualit card-qualit">
              <div class="card-qualit__img ibg">
                <img src="./img/content/qn1.png" alt="" />
              </div>
              <div class="card-qualit__box brgrad grad-rever">
                <h2 class="tl5">VASP</h2>
                <div class="txt4">
                  <p>Licence documentation</p>
                </div>
              </div>
            </li>

            <li class="splide__slide card-qualit">
              <div class="card-qualit__img ibg">
                <img src="./img/content/qn2.png" alt="" />
              </div>
              <div class="card-qualit__box brgrad grad-rever">
                <h2 class="tl5">VASP</h2>
                <div class="txt4">
                  <p>Licence documentation</p>
                </div>
              </div>
            </li>

            <li class="splide__slide card-qualit">
              <div class="card-qualit__img ibg">
                <img src="./img/content/qn3.png" alt="" />
              </div>
              <div class="card-qualit__box brgrad grad-rever">
                <h2 class="tl5">VASP</h2>
                <div class="txt4">
                  <p>Licence documentation</p>
                </div>
              </div>
            </li>

            <li class="splide__slide card-qualit">
              <div class="card-qualit__img ibg">
                <img src="./img/content/qn4.png" alt="" />
              </div>
              <div class="card-qualit__box brgrad grad-rever">
                <h2 class="tl5">VASP</h2>
                <div class="txt4">
                  <p>Licence documentation</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
