<section class="support">
  <div class="support__container">
    <div class="support__body">
      <h1 class="tl3">Let’s Talk!</h1>
      <div class="txt2 tch">
        <p>
          Want to share something interesting or offer a partnership? lets book
          a call and our specialist will contact you
        </p>
      </div>
      <a href="#form" class="btn-def anchor"
        ><span>Book a call</span></a
      >
    </div>
  </div>
  <img src="./img/decor/supbg.png" alt="" class="bg">
</section>
