<section class="answers pdt1">
  <div class="answers__container">
    <div class="answers__heading">
      <h2 class="tl3">All the Answers are Here</h2>
    </div>

    <ul class="answers__list accord">
      <li class="ac">
        <div class="ac-trigger">
          <div class="answers__header">
            <h3 class="tl4">
              Ut enim ad minim veniam, quis nostrud exercitation
            </h3>
          </div>
          <div class="ac-panel">
            <div class="answers__content txt2 tch">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="ac-trigger">
          <div class="answers__header">
            <h3 class="tl4">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore
            </h3>
          </div>
          <div class="ac-panel">
            <div class="answers__content txt2 tch">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="ac-trigger">
          <div class="answers__header">
            <h3 class="tl4">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa
            </h3>
          </div>
          <div class="ac-panel">
            <div class="answers__content txt2 tch">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="ac-trigger">
          <div class="answers__header">
            <h3 class="tl4">Qui officia deserunt mollit anim id est laborum</h3>
          </div>
          <div class="ac-panel">
            <div class="answers__content txt2 tch">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="ac-trigger">
          <div class="answers__header">
            <h3 class="tl4">
              Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
            </h3>
          </div>
          <div class="ac-panel">
            <div class="answers__content txt2 tch">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
