<section class="create pdt1">
  <div class="create__container">
    <div class="create__heading">
      <h2 class="tl3">Create Your Wallet Now</h2>
    </div>

    <div class="create__body">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide card-create brgrad">
              <span class="current__slide"></span>

              <div class="card-create__ico">
                <img src="./img/icons/crt_1.png" alt="" />
              </div>

              <div class="card-create__box">
                <h3 class="tl4">Register</h3>
                <div class="txt3 tch">
                  <p>Quick and hassle-free registration</p>
                </div>
              </div>
            </li>

            <li class="splide__slide card-create brgrad">
              <span class="current__slide"></span>

              <div class="card-create__ico">
                <img src="./img/icons/crt_2.png" alt="" />
              </div>

              <div class="card-create__box">
                <h3 class="tl4">Deposit</h3>
                <div class="txt3 tch">
                  <p>Securely via Card or SEPA transfer</p>
                </div>
              </div>
            </li>

            <li class="splide__slide card-create brgrad">
              <span class="current__slide"></span>

              <div class="card-create__ico">
                <img src="./img/icons/crt_3.png" alt="" />
              </div>

              <div class="card-create__box">
                <h3 class="tl4">Exchange crypto</h3>
                <div class="txt3 tch">
                  <p>Crypto effortlessly in seconds</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <a href="#" class="btn-def"><span>Create your wallet</span></a>
    </div>
  </div>
</section>
