<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero_content">
        <h1 class="tl1 stlgrad">
          Your <span>All-in-One</span><br />
          Crypto Wallet
        </h1>
        <div class="txt1">
          <p>
            Store, swap, and convert crypto to fiat in seconds — secure,
            seamless, and regulatory-compliant.
          </p>
        </div>
        <a href="https://trade.btcbnk.io/login" class="btn-def"><span>Create Your Wallet</span></a>
      </div>

      <div class="hero__desc no-select">
        <img src="./img/decor/desc_1.png" alt="" />
      </div>

      <div class="hero__tel no-select">
        <img src="./img/decor/tel_1.png" alt="" />
      </div>

      <div class="hero__filter1" aria-hidden="true"></div>
      <div class="hero__filter2" aria-hidden="true"></div>
    </div>

    <div class="hero__bg" aria-hidden="true">
      <div><img src="./img/decor/hero_bg.png" alt="" /></div>
    </div>
  </div>
</section>
