<section class="morething pdt1">
  <div class="morething__container">
    <div class="morething__wrapp">
      <div class="morething__body">
        <div class="morething__content">
          <p class="tlnote">Coming Soon</p>
          <h2 class="tl3 stlgrad">And <span>One More</span> Thing!</h2>
          <div class="txt3">
            <p>
              We are launching a Telegram bot - Where you can: Create wallet -
              Exchange - Send - purchase via Card or Sepa!
            </p>
          </div>
        </div>

        <ul class="morething__items">
          <li>
            <span class="no-select">
              <img src="./img/icons/thing_1.svg" alt="" />
            </span>
            <p>New Exchange</p>
          </li>
          <li>
            <span class="no-select">
              <img src="./img/icons/thing_2.svg" alt="" />
            </span>
            <p>Wallet</p>
          </li>
          <li>
            <span class="no-select">
              <img src="./img/icons/thing_3.svg" alt="" />
            </span>
            <p>Order History</p>
          </li>
        </ul>

        <div class="morething__bg ibg no-select" aria-hidden="true">
          <img src="./img/decor/thing_bg.png" alt="" class="el-desc" />
          <img src="./img/decor/thing_bgm.png" alt="" class="el-mob" />
        </div>
      </div>

      <div class="morething__tl no-select">
        <img src="./img/decor/tel_2.png" alt="" />
      </div>
      <div class="morething__tg no-select">
        <img src="./img/decor/tg.png" alt="" />
      </div>
    </div>
  </div>
</section>
