<section class="options pdt1">
  <div class="options__container">
    <div class="options__body">
      <div class="options__heading">
        <p class="tlnote stlgrad"><span>Ability & Options</span></p>
        <h2 class="tl3">Crypto Wallet Options</h2>
        <div class="txt3">
          <p>
            With our seamless and secure payment gateway, you can buy Bitcoin,
            Ethereum, and other digital assets using your credit or debit card
            in just a few clicks.
          </p>
        </div>
      </div>

      <div class="options__wrapp">
        <div class="options__content tabs">
          <div class="options__box">
            <div
              class="options__tab brgrad tabs__btn isActive"
              data-tab="simple-deposit"
            >
              <span class="options__icon">
                <img src="./img/icons/opt_1.png" alt="" />
              </span>
              <div class="options__info">
                <h3 class="tl5">Simple Deposit</h3>
                <div class="txt4">
                  <p>Easy solution to add your asset</p>
                </div>
              </div>
            </div>

            <div
              class="options__window ibg tabs__cont isActive isAnim"
              id="simple-deposit"
            >
              <img src="./img/decor/win_2.png" alt="" />
            </div>
          </div>

          <div class="options__box">
            <div class="options__tab brgrad tabs__btn" data-tab="instant-swaps">
              <span class="options__icon">
                <img src="./img/icons/opt_2.png" alt="" />
              </span>
              <div class="options__info">
                <h3 class="tl5">Instant Swaps</h3>
                <div class="txt4">
                  <p>Fast and hassle-free conversions</p>
                </div>
              </div>
            </div>

            <div class="options__window ibg tabs__cont" id="instant-swaps">
              <img src="./img/decor/win_3.png" alt="" />
            </div>
          </div>

          <div class="options__box">
            <div class="options__tab brgrad tabs__btn" data-tab="wide-history">
              <span class="options__icon">
                <img src="./img/icons/opt_3.png" alt="" />
              </span>
              <div class="options__info">
                <h3 class="tl5">Wide History</h3>
                <div class="txt4">
                  <p>Review all the data from any transaction</p>
                </div>
              </div>
            </div>

            <div class="options__window ibg tabs__cont" id="wide-history">
              <img src="./img/decor/win_2.png" alt="" />
            </div>
          </div>

          <div class="options__box">
            <div class="options__tab brgrad tabs__btn" data-tab="fast-withdraw">
              <span class="options__icon">
                <img src="./img/icons/opt_4.png" alt="" />
              </span>
              <div class="options__info">
                <h3 class="tl5">Fast Withdraw</h3>
                <div class="txt4">
                  <p>Get your assets whereever you want them</p>
                </div>
              </div>
            </div>

            <div class="options__window ibg tabs__cont" id="fast-withdraw">
              <img src="./img/decor/win_3.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="btn-def"><span>Explore All</span></a>
    </div>
  </div>
</section>
