<section class="purchase pdt1">
  <div class="purchase__container">
    <div class="purchase__body">
      <div class="purchase__content">
        <h2 class="tl2">Ability to Purchase Assets with Card and Swift</h2>

        <div class="purchase__images">
          <div class="purchase__win no-select">
            <img src="./img/decor/win_1.png" alt="" />
          </div>
          <div class="purchase__tl no-select">
            <img src="./img/decor/tel_3.png" alt="" />
          </div>
        </div>

        <div class="txt1 tch">
          <p>
            With our seamless and secure payment gateway, you can buy Bitcoin,
            Ethereum, and other digital assets using your credit or debit card
            in just a few clicks.
          </p>
        </div>

        <div class="purchase__patners">
          <p>Our patners:</p>
          <ul>
            <li>
              <img src="./img/content/logos_5.png" alt="" />
            </li>
            <li>
              <img src="./img/content/logos_4.png" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
