<section class="qualities">
  <div class="qualities__container">
    <div class="qualities__body">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide card-qualit card-qualit">
              <div class="card-qualit__img ibg">
                <img src="./img/content/qualit_1.jpg" alt="" />
              </div>
              <div class="card-qualit__box brgrad grad-rever">
                <h2 class="tl5">Instant Transactions</h2>
                <div class="txt4">
                  <p>Buy crypto in minutes</p>
                </div>
              </div>
            </li>

            <li class="splide__slide card-qualit">
              <div class="card-qualit__img ibg">
                <img src="./img/content/qualit_2.jpg" alt="" />
              </div>
              <div class="card-qualit__box brgrad grad-rever">
                <h2 class="tl5">Global Access</h2>
                <div class="txt4">
                  <p>Available in multiple countries</p>
                </div>
              </div>
            </li>

            <li class="splide__slide card-qualit">
              <div class="card-qualit__img ibg">
                <img src="./img/content/qualit_3.jpg" alt="" />
              </div>
              <div class="card-qualit__box brgrad grad-rever">
                <h2 class="tl5">Best Exchange Rates</h2>
                <div class="txt4">
                  <p>Competitive rates with low fees</p>
                </div>
              </div>
            </li>

            <li class="splide__slide card-qualit">
              <div class="card-qualit__img ibg">
                <img src="./img/content/qualit_4.jpg" alt="" />
              </div>
              <div class="card-qualit__box brgrad grad-rever">
                <h2 class="tl5">Secure Payments</h2>
                <div class="txt4">
                  <p>PCI DSS-compliant transactions</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
