<section class="secure pdt1">
  <div class="secure__container">
    <div class="secure__body">
      <div class="secure__content">
        <h2 class="tl3">Your Holdings are Secure With</h2>
        <div class="txt2 tch">
          <p>
            With our seamless and secure payment gateway, you can buy Bitcoin,
            Ethereum, and other digital assets using your credit or debit card
            in just a few clicks.
          </p>
        </div>
      </div>

      <div class="secure__wrapp">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="card-secure brgrad">
                  <div class="card-secure__img">
                    <span>
                      <img src="./img/content/secure_1.png" alt="" />
                    </span>
                  </div>
                  <div class="card-secure__info brgrad">
                    <h3 class="card-secure__tl">Cloudflare</h3>
                    <div class="card-secure__txt">
                      <p>Lorem ipsum dolor sit amet</p>
                    </div>
                  </div>
                </div>
              </li>

              <li class="splide__slide">
                <div class="card-secure brgrad">
                  <div class="card-secure__img">
                    <span>
                      <img src="./img/content/secure_2.png" alt="" />
                    </span>
                  </div>
                  <div class="card-secure__info brgrad">
                    <h3 class="card-secure__tl">Fido U2F</h3>
                    <div class="card-secure__txt">
                      <p>Ubikey Ready</p>
                    </div>
                  </div>
                </div>
              </li>

              <li class="splide__slide">
                <div class="card-secure brgrad">
                  <div class="card-secure__img">
                    <span>
                      <img src="./img/content/secure_3.png" alt="" />
                    </span>
                  </div>
                  <div class="card-secure__info brgrad">
                    <h3 class="card-secure__tl">Google</h3>
                    <div class="card-secure__txt">
                      <p>Authenticator</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
